@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.pie-chart-container {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 2/1;
    gap: 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: 0.75rem;

    ::-webkit-scrollbar {
        background: none;
        width: 3px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(209, 213, 219); // $gray300
        border-radius: 0;
    }

    .chart-title {
        width: 100%;
        font-weight: 600;
        color: #4b5563; // $gray-font-color
    }

    .pie-chart {
        position: relative;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;

        .slice {
            position: absolute;
            width: 100%;
            height: 100%;
            clip-path: circle(50% at 50% 50%);
        }
    }

    .middle-circle {
        @include flex(column, center, center);
        gap: 0.5rem;
        top: 15%;
        left: 15%;
        position: absolute;
        width: 70%;
        height: 70%;
        background: #fff;
        border-radius: 50%;

        span {
            text-transform: capitalize;
        }
    }

    .pie-chart-info-section {
        @include flex(column, flex-start, stretch);
        gap: 0.25rem;
        height: 100%;
        aspect-ratio: 1;
        overflow-y: scroll;
        padding: 0 0.5rem;

        div {
            @include flex(row, space-between, center);
            gap: 0.5rem;
            font-size: 0.95rem;

            .color {
                width: 8px;
                aspect-ratio: 1;
                border-radius: 50%;
            }

            .secondary-key {
                @include flex(row, flex-start, center);
                margin-right: auto;
                text-transform: capitalize;
            }

            .primary-key {
                color: #4b5563; // $gray-font-color
            }
        }
    }
}